.section {
	grid-column-start: 1;
	grid-column-end: 3;
	margin-top: 1rem;
}

.list {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 60px;
}

@media (max-width: 1024px) {
	.list {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
}
