.root {
	min-height: 100vh;
}

.main {
	display: grid;
	gap: 20px;
	grid-template-rows: 2fr 1fr;
	grid-template-columns: 2.1fr 0.9fr;
	height: stretch;
	height: calc(100vh - 15rem);
}

@media (max-width: 1024px) {
	.main {
		display: flex;
		flex-direction: column;
		height: auto;
	}
}

@media (min-width: 1024px) {
	.main {
		max-height: 700px;
	}
}
